.footer__box {
    background-color: #F7F7F7;
}

.footer__link {
    margin-left: 5px;
    color: inherit;
    font-size: 14px;
    text-decoration: underline;
    @media screen and (min-width: 768px) {
            font-size: 16px;
        }
}

.footer__title {
    font-size: 14px;
    color: #545454;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

}

.icon__heart {
    margin-right: 10px;
    margin-left: 10px;
    color: var(--accent-color);
    width: 14px;
    height: 13px;
}